* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1230px;
}
.header__wrapper {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.main__wrapper{
    display: flex;
    justify-content: center;
}
.main__card {
    width: 50%;
    padding: 30px;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.main__card-btn {
    padding: 10px;
    border: none;
}
.main__card-btn:hover {
    background-color:rgba(79, 77, 77, 0.428);
}
